# print table from 2 to 10

In [16]:
print("\t\t\tMultiplication Table\n")

for i in range(1,11):
    print(i, end="\t")
print()
print("_______________________________________________________________________________________________________________\n")
for j in range(1,11):
    for k in range(1,11):
        print(j*k, end="\t")
    print("\n")

			Multiplication Table

1	2	3	4	5	6	7	8	9	10
_______________________________________________________________________________________________________________

1	2	3	4	5	6	7	8	9	10

2	4	6	8	10	12	14	16	18	20

3	6	9	12	15	18	21	24	27	30

4	8	12	16	20	24	28	32	36	40

5	10	15	20	25	30	35	40	45	50

6	12	18	24	30	36	42	48	54	60

7	14	21	28	35	42	49	56	63	70

8	16	24	32	40	48	56	64	72	80

9	18	27	36	45	54	63	72	81	90

10	20	30	40	50	60	70	80	90	100

In [17]:
print(j)

10

In [18]:
print(k)

10

In [27]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end="\t")
    print("\n")

1	2	3	4	5	6	7	8	9	10

2	4	6	8	10	12	14	16	18	20

3	6	9	12	15	18	21	24	27	30

4	8	12	16	20	24	28	32	36	40

5	10	15	20	25	30	35	40	45	50

6	12	18	24	30	36	42	48	54	60

7	14	21	28	35	42	49	56	63	70

8	16	24	32	40	48	56	64	72	80

9	18	27	36	45	54	63	72	81	90

10	20	30	40	50	60	70	80	90	100

In [33]:
for k in range(10,16):
    for l in range(10,16):
        print(k*l, end="\t")
    print("\n")

100	110	120	130	140	150

110	121	132	143	154	165

120	132	144	156	168	180

130	143	156	169	182	195

140	154	168	182	196	210

150	165	180	195	210	225

In [3]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [11]:
fruits=['apple','banana','mango','kiwi']

In [21]:
fruits=['apple','banana','mango','kiwi']
for i in fruits:
  print(i)
  if i =="banana":
    break

apple
banana

In [19]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

In [30]:
days=["monday",'tuesday','wednesday','thursday','friday','saturday','sunday']
for i in days:
    print(i)
    if i=="friday":
        break

monday
tuesday
wednesday
thursday
friday

In [34]:
fruits=['apple','banana','mango','kiwi']
for i in fruits:
    print(i)
    if i=="mango":
        break

apple
banana
mango

In [36]:
days=["monday",'tuesday','wednesday','thursday','friday','saturday','sunday']
for i in days:
    print(i)
    if i=="wednesday":
        print("Today is Hollyday")
        break

monday
tuesday
wednesday
Today is Hollyday

In [41]:
days=["monday",'tuesday','wednesday','thursday','friday','saturday','sunday']
for i in days:
    print(i)
    if i=="thursday":
        continue
    print(i)

monday
monday
tuesday
tuesday
wednesday
wednesday
thursday
friday
friday
saturday
saturday
sunday
sunday

In [42]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [49]:
for i in range(4,41,4):
    print(i)

4
8
12
16
20
24
28
32
36
40

In [50]:
for i in range(12,121,12):
    print(i)

12
24
36
48
60
72
84
96
108
120

In [52]:
for i in range(25,251,25):
    print(i)

25
50
75
100
125
150
175
200
225
250